* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  width: 100%;
  background-color: #333;
  color: #000;
  margin: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

.logo:hover {
  color: #fff44f;
}

.navbar {
  display: flex;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 20px;
}

.navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0%;
  transition: 0.3s;
  height: 2px;
  background: #fff44f;
}

.navbar a:hover::before {
  width: 100%;
}

.navbar a:hover {
  color: #fff44f;
}

/* Media Query for Tablets and Smaller Screens */
@media only screen and (max-width: 768px) {
  .header {
    padding: 10px;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 60px;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    display: none;
  }

  .navbar.show {
    display: flex;
  }

  .navbar a {
    margin: 10px;
  }

  .navbar a::before {
    top: 50%;
  }

  .navbar a:hover::before {
    width: 100%;
  }
}
