* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  background: #1e90ff;
  background-size: 300% 300%;
  animation: gradientBG 10s ease infinite;
  overflow: hidden;
  color: white;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.social-container {
  display: flex;
  gap: 20px;
  margin-top: -50px;
}

.social-link {
  position: relative;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: #141e30;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.5rem;
  transition: transform 0.5s ease, box-shadow 0.5s ease, background 0.5s ease;
  text-decoration: none;
  cursor: pointer;
}

.social-link:hover {
  transform: rotate(360deg) scale(1.2);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.8),
    0 0 60px rgba(255, 255, 255, 0.8);
  background: linear-gradient(45deg, #ff416c, #1e90ff);
}

.social-link:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background: white;
  filter: blur(15px);
  opacity: 0.8;
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: -1;
}

.social-link:hover:before {
  transform: scale(1.8);
  opacity: 1;
}
