*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 250px;
}


.button {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0px 0px 14px -7px #e29528;
  background-image: linear-gradient(45deg, #f1c40f, #f39c12);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.button:active {
  transform: scale(0.95);
}