*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1{
    margin-bottom: 40px;
    font-family: sans-serif;
}

.switch{
    position: relative;
    display: inline-block;
    width: 110px;
    height: 40px;
    margin: 0 10px;
}

.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.switch input{display: none}

.slider:before{
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50px;
}

input:checked + .slider{
    background-color: green;
}

input:checked + .slider:before{
    transform: translateX(50px);
}